:root {
  --pastelblue: #aeccda;
}

* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* back button styling */
#back-button {
  width: 60px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  background-color: var(--pastelblue);
  color: white;
  border-color: #f5f8f9;
  cursor: pointer;
}

/* timeline styling */
.blog-timeline{
    display:flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: center;
    border: var(--pastelblue) solid 3px;
    padding: 1rem;
    margin:1rem;
}

article{
  justify-content:flex-start;
    align-items: center;
    border: var(--pastelblue) solid 3px;
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
}

article p{
  word-break: break-all;
}

h3, article p{
  padding:1rem;
    border-bottom: var(--pastelblue) solid 2px;
}

h5{
  padding: 1rem;
}