:root {
  --pastelblue: #aeccda;
  --lightblue: #f5f8f9;
  --darkgreyblue: #36454f;
}

* {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* form styling */
.form-section{
    padding: 1rem;
    margin: 2rem;
    border-left: var(--pastelblue) solid 3px;
}

/* title */
.spilltea-title{
    border-bottom: var(--pastelblue) solid 3px;
    padding:1rem;
}

.spilltea-title, .pastelblu{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
  }

  /* form container styling */
.form-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
}

/* input styling */
#userName,
#title, textarea {
  border-color: var(--lightblue) ;
  border-radius:6px;
}

textarea {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
}

/* submit button styling */
#submit-button {
  background-color: var(--pastelblue);
  color: white;
  border-color: var(--lightblue) ;
  cursor: pointer;
}
