:root {
  --pastelblue: #aeccda;
  --lightblue: #f5f8f9;
  --darkgreyblue: #36454f;
}

* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* default styling for both index and blog html */
body{
  box-sizing:border-box;
  background-color: var(--lightblue);
  color: var(--darkgreyblue);
}

/* header styling */
h1, .time{
  font-weight: bold;
  font-size: 40px;
}

.time, .pastelblu{
  color: var(--pastelblue);
}

.heading {
  top: 0;
  padding: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid var(--pastelblue) 3px;
}

.right-side{
  display:flex;
  justify-content: flex-end;
  gap:10px;
}

/* mode switch icon styling */
#mode-switch{
  width: 60px;
  height: 30px;
  font-size: 20px ;
  text-align: center;
  border: none;
  cursor: pointer;
}

/* mode switch dark mode styling*/
.dark-mode{
  background-color: var(--darkgreyblue);
  color: var(--lightblue);

}

/* image container and form container styling */
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}

/* image styling */
img {
  width: 100%;
}

.tea-cup-img {
  max-width: 35rem;
  min-width: 25rem;
  justify-content: center;
  align-items: center;
  border-right: var(--pastelblue) solid 3px;
}

/* text styling */
.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.center-text {
  text-align: center;
}

/* footer styling */
footer{
  bottom:0;
  padding: 2rem;
  margin-top:1rem;
  border-top: solid var(--pastelblue) 3px;
  color: var(--pastelblue);
}